__pycache__/
*.py[cod]
*.egg-info/
.Python
*.log
.env
.venv/
.venv311/
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
*.swp
*.swo

# project artifacts
plot.csv
an9002_log.csv
